In [10]:
import mysql.connector
import pandas as pd

conexao = mysql.connector.connect(user='root', password='root', host='localhost', database='python')
cursor = conexao.cursor()

In [11]:
caminho_categorias = r"/Users/juniorsilva/develop/data/estudos-engenharia-dados/engenharia-dados-com-python-e-banco-de-dados/MySQL/4.Arquivos-CSV/categories.csv"

df_categorias = pd.read_csv(caminho_categorias, sep=',')
df_categorias.head()

   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes

In [ ]:
cursor.execute("DELETE FROM python.categories")
conexao.commit()

for _,df_line in df_categorias.iterrows():
    comando = """
        INSERT INTO python.categories (category_id, category_name) VALUES (%s, %s)
    """
    valores = (df_line['category_id'], df_line['category_name'])
    cursor.execute(comando, valores)

conexao.commit()

cursor.close()
conexao.close()