In [ ]:
#pip install  google-cloud-bigquery
#pip install --upgrade google-cloud-bigquery
#pip install  pandas_gbq
#pip install  pandas

In [10]:
from google.cloud import bigquery
import pandas as pd

# Especifique o caminho para o arquivo JSON de credenciais
credencial = "/Users/juniorsilva/Downloads/python-curso-459117-fc7b944c47c6.json"

# Crie um cliente BigQuery usando as credenciais
client = bigquery.Client.from_service_account_json(credencial)

# Construa sua consulta
query = """ 

    SELECT
    id,
    first_name,
    last_name,
    email
    FROM `python-curso-459117.AulaPython.Clientes`
    WHERE state IN ('Piauí', 'Alagoas', 'Amazonas')

"""

# Execute a consulta
resultado = client.query(query)

"""
for row in resultado:
    print(row)
"""

# Converta os resultados em um DataFrame
df = resultado.to_dataframe()

/Users/juniorsilva/develop/data/estudos-engenharia-dados/engenharia-dados-com-python-e-banco-de-dados/venv/lib/python3.13/site-packages/google/cloud/bigquery/table.py:1933: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [11]:
df.head(5)

   id first_name  last_name                email
0  18       Jair  Magalhães     jair@exemplo.com
1  80    Daniela       Góes  daniela@usuario.com
2  83      Frida     Freire                 None
3  23      Maria      Pires                 None
4  69    Gustavo    Cardoso    gustavo@teste.com