In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel("/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/Produto.xlsx")

In [3]:
df = df.loc[df['Name'] == 'Calça']

In [4]:
df

   ID   Name  Price  Id_Category
2   2  Calça     75            0

In [70]:
itens = ['Calça', 'TV', 'Perfume', 'Fogão']
df_itens = df.loc[df['Name'].isin(itens)]

In [ ]:
df_itens

In [72]:
df_itens = df.loc[df['Name'].isin(['Calça', 'TV', 'Perfume', 'Fogão'])]

In [ ]:
df_itens

In [74]:
df_price = df.loc[df['Price'] > 1000]

In [ ]:
df_price.head()

In [85]:
df_maior_200_a_2000 = df.loc[(df['Price'] > 200) & (df['Price'] <= 2000)]

In [ ]:
df_maior_200_a_2000