In [38]:
import pandas as pd
import psycopg2

In [39]:
server = 'localhost'
database = 'python_etl_varias_bases'
user = 'postgres'
password = 'root'

connection_string = f"dbname={database} user={user} password={password} host={server}"

try:
    conn = psycopg2.connect(connection_string)
    print("Conexão bem-sucedida ao PostgreSQL!")
    
    cursor = conn.cursor()
except Exception as e:
    print("Erro ao conectar ao PostgreSQL:", e)

Conexão bem-sucedida ao PostgreSQL!

In [40]:
clientes = pd.read_csv("/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_csv/Clientes.csv", delimiter=',')
produtos = pd.read_excel("/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/Produto.xlsx")
categorias = pd.read_excel("/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/Categoria.xlsx")
ordens = pd.read_excel("/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/Ordens.xlsx")
items = pd.read_excel("/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/items.xlsx")

In [41]:
t1 = pd.merge(ordens, clientes, left_on="customer_id", right_on="id", how="left")
# A tabela a "esquerda" é ordens e nela existe a coluna customer_id
# A tabela a "direita" é clientes e nela eu devo ligar com o id

# left_on       Chave da tabela a esqueda
# right_on      Chave da tabela a direita
# how           Tipo de join

# Tipos de Join
# left -> Todos dados da tabela a esquerda (Garante que todos os "A" apareçam, mesmo que não tenham pedido "B").
# right -> Todos dados da tabela a direita (Garante que todos os pedidos "A" apareçam, mesmo que não tenham "B" associados).
# inner -> Retorna dados apenas quando as duas tabelas tem chaves (Retorna apenas os registros que existem tanto em "A" quanto em "B").
# outer -> Retorna todos os registros de ambas as tabelas (Garante que todos os "A" e todos os "B" apareçam, independentemente de haver).

In [42]:
t1 = t1[['id_x', 'first_name', 'cell_phone', 'created_at_x']]
t1.head(5)

   id_x first_name   cell_phone        created_at_x
0     0     Daniel  9 4761-6557 2019-08-28 03:36:31
1     1    Everton  9 2553-4087 2019-08-16 20:21:30
2     2       Eloá  9 3982-5948 2019-07-11 11:00:06
3     3    Beatriz  9 4435-2960 2019-08-27 21:04:41
4     4     Caíque  9 8818-5886 2019-11-03 19:58:37

In [43]:
t2 = pd.merge(items, produtos, left_on="product_id", right_on="ID", how="left")
t2 = t2[['id', 'Name', 'Id_Category']]
t2.head(5)

   id        Name  Id_Category
0   0  Impressora            5
1   1  HD Externo            5
2   2          PC            7
3   3    Notebook            7
4   4  Impressora            5

In [53]:
categorias_produtos = pd.merge(t2, categorias, left_on="Id_Category", right_on="id", how="left")

categorias_produtos = categorias_produtos.rename(columns={'id_x': 'id', 'Name': 'Nome Produto', 'name': 'Categoria'})

categorias_produtos = categorias_produtos[["id", "Nome Produto", "Categoria"]]

categorias_produtos.head(5)

   id Nome Produto    Categoria
0   0   Impressora  Informática
1   1   HD Externo  Informática
2   2           PC  Eletrônicos
3   3     Notebook  Eletrônicos
4   4   Impressora  Informática