In [40]:
import pandas as pd
import os

In [41]:
df = pd.read_csv("/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_csv/Clientes.csv")

In [42]:
df['id'].dtype

dtype('int64')

In [43]:
print(df['id'].dtype)

int64

In [44]:
for coluna in df.columns:
    print(f'Coluna: {coluna}, tipo de dados: {df[coluna].dtype}')

Coluna: id, tipo de dados: int64
Coluna: created_at, tipo de dados: object
Coluna: first_name, tipo de dados: object
Coluna: last_name, tipo de dados: object
Coluna: email, tipo de dados: object
Coluna: cell_phone, tipo de dados: object
Coluna: country, tipo de dados: object
Coluna: state, tipo de dados: object
Coluna: street, tipo de dados: object
Coluna: number, tipo de dados: float64
Coluna: additionals, tipo de dados: object

In [45]:
df['id'] = df['id'].astype(float)

In [46]:
print(df['id'].dtype)

float64

Conversão de Datas

In [47]:
df['created_at'] = pd.to_datetime(df['created_at'])

In [48]:
print(df['created_at'].dtype)

datetime64[ns]

In [49]:
# Filtrar dados pelo intervalo entre 2008 a 2020
df_filtrado = df[(df['created_at'].dt.year >= 2008) & (df['created_at'].dt.year <= 2020)]
df_filtrado

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0.0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1.0,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2.0,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3.0,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4.0,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
...,...,...,...,...,...,...,...,...,...,...,...
95,95.0,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN
96,96.0,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6
97,97.0,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24
98,98.0,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN
99,99.0,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22

In [50]:
# Filtrar somente o ano de 2018 e o mês de Janeiro
df_dt2 = df[(df['created_at'].dt.year == 2018) & df['created_at'].dt.month == 1]
df_dt2

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
3,3.0,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
5,5.0,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
9,9.0,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14
11,11.0,2018-05-16 03:39:52,James,Albuquerque,NaN,9 2430-5905,Brasil,Sergipe,Rua 30 do Estado Sergipe,229.0,NaN
12,12.0,2018-03-28 00:24:00,Carol,Barboza,carol@exemplo.com,9 8487-3501,Brasil,Mato Grosso,Rua 31 do Estado Mato Grosso,1.0,Conjunto 23
15,15.0,2018-11-15 18:00:53,Stephanie,Barbosa,stephanie@usuario.com,9 1446-3560,Brasil,Mato Grosso,NaN,NaN,Conjunto 4
24,24.0,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21
27,27.0,2018-11-08 11:12:47,Luan,Lima,luan@teste.com,9 2529-8197,Brasil,Acre,Praça 86 do Estado Acre,303.0,Apto 27
31,31.0,2018-07-02 22:04:08,Geisa,Freitas,geisa@exemplo.com,9 6772-5310,Brasil,Mato Grosso do Sul,Rua 18 do Estado Mato Grosso do Sul,128.0,NaN
32,32.0,2018-07-22 11:59:27,Ana,Campos,ana@teste.com,9 1932-9841,Brasil,Bahia,Avenida 52 do Estado Bahia,402.0,NaN
36,36.0,2018-01-26 03:29:13,Mariana,Góes,mariana@meu_email.com,9 7324-4293,Brasil,NaN,NaN,NaN,Apto 25
37,37.0,2018-03-02 22:27:03,Daniela,Monteiro,daniela@meu_email.com,9 4704-5844,Brasil,Goiás,Rua 43 do Estado Goiás,116.0,Apto 28
38,38.0,2018-09-01 09:33:57,Marcelo,Mendes,NaN,9 6773-1560,Brasil,Espírito Santo,Avenida 64 do Estado Espírito Santo,213.0,NaN
41,41.0,2018-11-30 17:44:09,Maria,Morais,maria@usuario.com,9 1519-4181,Brasil,Pernambuco,Avenida 69 do Estado Pernambuco,633.0,NaN
43,43.0,2018-01-07 07:54:22,Daniela,Lima,NaN,9 1763-2584,Brasil,Rio de Janeiro,NaN,NaN,Apto 20
45,45.0,2018-05-10 23:09:25,Gerson,Anjos,gerson@meu_email.com,9 1590-8972,Brasil,Mato Grosso do Sul,Avenida 35 do Estado Mato Grosso do Sul,229.0,Apto 29
46,46.0,2018-07-19 08:33:32,Rafael,Freire,rafael@exemplo.com,9 8703-1006,Brasil,Maranhão,Praça 97 do Estado Maranhão,138.0,NaN
47,47.0,2018-09-01 23:00:40,Júlia,Castro,júlia@exemplo.com,9 7096-1780,Brasil,Rio de Janeiro,Rua 39 do Estado Rio de Janeiro,983.0,Conjunto 7
48,48.0,2018-05-29 04:22:54,Clarissa,Albuquerque,clarissa@exemplo.com,9 7403-4273,Brasil,Ceará,NaN,NaN,Apto 12
49,49.0,2018-11-01 02:13:51,Júlia,Sousa,júlia@exemplo.com,9 2094-8467,Brasil,Rondônia,Rua 12 do Estado Rondônia,260.0,Apto 27
53,53.0,2018-03-25 14:26:49,Daniela,Mendes,daniela@teste.com,9 3797-3399,Brasil,Pernambuco,Rua 71 do Estado Pernambuco,760.0,Apto 14
54,54.0,2018-01-25 02:11:25,Diego,Teixeira,diego@exemplo.com,9 5247-1737,Brasil,Pará,Rua 8 do Estado Pará,722.0,Conjunto 16
55,55.0,2018-07-10 18:40:07,Gabriela,Pires,gabriela@meu_email.com,9 1214-1539,Brasil,Rio de Janeiro,Rua 32 do Estado Rio de Janeiro,838.0,Apto 29
58,58.0,2018-09-13 03:13:02,Rafael,Rodrigues,rafael@meu_email.com,9 6550-3557,Brasil,Bahia,Praça 94 do Estado Bahia,647.0,Apto 25
62,62.0,2018-01-21 13:56:16,Carol,Anjos,carol@usuario.com,9 2123-9306,Brasil,Pernambuco,Praça 12 do Estado Pernambuco,928.0,Conjunto 26
63,63.0,2018-05-05 17:52:26,Caíque,Batista,caíque@teste.com,9 8818-5886,Brasil,Ceará,Rua 76 do Estado Ceará,239.0,Apto 19
68,68.0,2018-11-14 11:04:35,José,Pires,josé@usuario.com,9 8189-2149,Brasil,Ceará,Avenida 99 do Estado Ceará,231.0,NaN
72,72.0,2018-01-29 03:19:24,Neymar,Elísio,neymar@teste.com,9 5373-1785,Brasil,Rio Grande do Sul,Rua 49 do Estado Rio Grande do Sul,929.0,NaN
77,77.0,2018-11-30 10:29:55,Ana,Monteiro,ana@teste.com,9 3871-4132,Brasil,Bahia,Praça 86 do Estado Bahia,604.0,Apto 30
81,81.0,2018-01-13 10:35:01,Alice,Ferreira,alice@teste.com,9 9005-2493,Brasil,Minas Gerais,Praça 53 do Estado Minas Gerais,83.0,NaN
82,82.0,2018-11-04 18:02:42,Heitor,Rocha,heitor@teste.com,9 3236-7429,Brasil,Espírito Santo,Praça 82 do Estado Espírito Santo,14.0,NaN
83,83.0,2018-01-05 00:15:03,Frida,Freire,NaN,9 4760-1383,Brasil,Alagoas,Rua 25 do Estado Alagoas,679.0,Conjunto 9
84,84.0,2018-11-01 15:39:40,Carol,Bueno,carol@meu_email.com,9 3760-2211,Brasil,NaN,NaN,NaN,Conjunto 26
86,86.0,2018-03-12 09:30:24,Adalberto,Oliveira,adalberto@teste.com,9 3081-3441,Brasil,Roraima,Rua 40 do Estado Roraima,401.0,Conjunto 17
91,91.0,2018-09-12 22:12:05,Daniel,Costa,daniel@teste.com,9 4761-6557,Brasil,Rio Grande do Norte,Praça 25 do Estado Rio Grande do Norte,281.0,Apto 8
93,93.0,2018-11-02 08:43:47,Ronaldo,Galo,ronaldo@meu_email.com,9 8821-9577,Brasil,Pernambuco,Avenida 8 do Estado Pernambuco,758.0,Apto 2
96,96.0,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6
97,97.0,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24
98,98.0,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN
99,99.0,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22

In [51]:
df['created_at'] = df['created_at'].dt.strftime('%d/%m/%Y %H:%M:%S')

In [52]:
df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0.0,01/11/2017 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1.0,16/10/2017 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2.0,16/06/2018 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3.0,17/01/2018 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4.0,06/08/2018 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
...,...,...,...,...,...,...,...,...,...,...,...
95,95.0,01/10/2018 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN
96,96.0,23/01/2018 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6
97,97.0,04/07/2018 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24
98,98.0,24/01/2018 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN
99,99.0,24/07/2018 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22

Convertendo data para o padrão BR no primeiro comando

In [53]:
# Convertendo a coluna created_at em formato de data e hora
df['created_at'] = pd.to_datetime(df['created_at'])

# Converter a data para o padrão brasileiro
df['created_at'] = df['created_at'].dt.strftime('%d/%m/%Y %H:%M:%S')

ValueError: time data "16/10/2017 00:50:39" doesn't match format "%m/%d/%Y %H:%M:%S", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.