In [4]:
import pandas as pd

In [5]:
df = pd.read_excel("/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/Produto.xlsx")

In [11]:
# Ordem crescente coluna especifica (asncending)
dados = df.sort_values(by='Name', ascending=True)

In [12]:
dados.head(5)

    ID                 Name  Price  Id_Category
18  18  A Comédia Engraçada     20            3
19  19    A História de SQL     23            3
20  20              Ai-Fone   1720            4
31  31             Almofada    170            6
48  48            Bey-Blade     55            9